common:
  app: gibil
  shortname: gibil
  team: ror
  ingress:
    trafficType: public
  container:
    image: <+artifacts.primary.image>
    imagePullPolicy: Always
    cpu: 2
    memory: 2560 # This is request mem. Limit is 20% higher.