common:
  app: gibil
  shortname: gibil
  team: ror
  ingress:
    trafficType: public
  container:
    image: <+artifacts.primary.image>
    imagePullPolicy: Always
    cpu: 2
    memory: 2560 # This is request mem. Limit is 20% higher.
    probes:
      enabled: true
      spec:
        startupProbe:
          tcpSocket:
            port: 8080
          periodSeconds: 1
          timeoutSeconds: 1
          failureThreshold: 300
        readinessProbe:
          httpGet:
            path: /api?q=test&limit=1
            port: 8080
          initialDelaySeconds: 45
          periodSeconds: 10
          timeoutSeconds: 10
          failureThreshold: 3
          successThreshold: 1
        livenessProbe:
          httpGet:
            path: /status
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3