common:
  app: gibil
  shortname: gibil
  team: ror
  ingress:
    trafficType: public
  container:
    image: <+artifacts.primary.image>
    imagePullPolicy: Always
    cpu: 2
    memory: 2560
    volumeMounts:
      - name: extime-data
        mountPath: /app/extimeData
      - name: logs
        mountPath: /app/logs
    volumes:
      - name: extime-data
        emptyDir: {}
      - name: logs
        emptyDir: {}
    probes:
      enabled: true
      spec:
        startupProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 1
          timeoutSeconds: 1
          failureThreshold: 300
        readinessProbe:
          httpGet:
            path: /actuator/health/readiness
            port: 8080
          initialDelaySeconds: 45
          periodSeconds: 10
          timeoutSeconds: 10
          failureThreshold: 3
          successThreshold: 1
        livenessProbe:
          httpGet:
            path: /actuator/health/liveness
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3

  initContainers:
    - name: create-log-dirs
      image: busybox:latest
      securityContext:
        allowPrivilegeEscalation: false
        runAsNonRoot: true
        runAsUser: 65534
        capabilities:
          drop: [ "ALL" ]
        seccompProfile:
          type: RuntimeDefault
      volumeMounts:
        - name: logs
          mountPath: /app/logs
      command:
        - sh
        - -c
        - |
          mkdir -p /app/logs/errors
          mkdir -p /app/logs/general
          mkdir -p /app/logs/secrets
          mkdir -p /app/logs/serviceJourneys
          chmod -R 777 /app/logs
          echo "Log directories created:"
          ls -la /app/logs/
    - name: extime-data-fetch
      image: curlimages/curl:latest
      securityContext:
        allowPrivilegeEscalation: false
        runAsNonRoot: true
        runAsUser: 65534
        capabilities:
          drop: ["ALL"]
        seccompProfile:
          type: RuntimeDefault
      volumeMounts:
        - name: extime-data
          mountPath: /app/extimeData
      command:
        - sh
        - -c
        - |
          echo "Downloading zip file..."
          curl -o /tmp/rb_avi-aggregated-netex.zip https://storage.googleapis.com/marduk-dev/outbound/netex/rb_avi-aggregated-netex.zip
          echo "Download complete. Extracting to shared volume..."
          unzip /tmp/rb_avi-aggregated-netex.zip -d /app/extimeData
          echo "Extraction complete. Cleaning up zip file..."
          rm /tmp/rb_avi-aggregated-netex.zip
          echo "Init container finished. Files in /app/extimeData:"
          ls -la /app/extimeData/
      resources:
        limits:
          cpu: 1
          memory: 512Mi
        requests:
          cpu: 0.5
          memory: 256Mi