name: Deploy
on:
  workflow_run:
    workflows: ["Build and push"]
    types:
      - completed
    branches:
      - Helm-further-implementation

jobs:
  helm-deploy:
    name: Helm Deploy
    uses: entur/gha-helm/.github/workflows/deploy.yml@v1
    with:
      environment: dev
      image: gibil:latest