name: Build, push, and deploy
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  maven-verify:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v5
        with:
          java-version: 21.0.5+11
          distribution: liberica
      - name: Cache Maven dependencies
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
            ${{ runner.os }}-maven-
            ${{ runner.os }}-
      - name: Run maven build
        run: mvn verify
      - uses: actions/upload-artifact@v6.0.0
        with:
          path: target/*.jar
      - name: Sonar Scan
        env:
          SONAR_TOKEN: ${{ secrets.ENTUR_SONAR_PASSWORD }}
          SONAR_PROJECT_NAME: ${{ github.event.repository.name }}
          SONAR_PROJECT_KEY: entur_${{ github.event.repository.name }}
        run: |
          mvn \
                  org.jacoco:jacoco-maven-plugin:prepare-agent verify \
                  org.jacoco:jacoco-maven-plugin:report sonar:sonar \
                  -Dmaven.main.skip \
                  -DskipTests \
                  -Dsonar.projectKey=${SONAR_PROJECT_KEY} \
                  -Dsonar.organization=enturas-github \
                  -Dsonar.projectName=${SONAR_PROJECT_NAME} \
                  -Dsonar.host.url=https://sonarcloud.io \
                  -Dsonar.token=${SONAR_TOKEN}
  docker-lint:
    name: Docker-Lint
    uses: entur/gha-docker/.github/workflows/lint.yml@v1

  docker-build:
    if: github.repository_owner == 'entur' && github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: [maven-verify, Docker-Lint]
    uses: entur/gha-docker/.github/workflows/build.yml@v1
    with:
      build_artifact_name: artifact
      build_artifact_path: target
  docker-scan:
    name: Docker-Scan
    needs: [docker-build]
    uses: entur/gha-security/.github/workflows/docker-scan.yml@v2
    secrets: inherit  # Required for central allowlist access
    with:
      image_artifact: ${{ needs.docker-build.outputs.image_artifact }} # The name of the image artifact to scan
  docker-push:
    needs: [Docker-Scan]
    uses: entur/gha-docker/.github/workflows/push.yml@v1
    secrets: inherit  # Required for central allowlist access
  helm-deploy:
    name: Helm Deploy
    needs: [docker-push]
    uses: entur/gha-helm/.github/workflows/deploy.yml@v1
    with:
      environment: dev
      image: "gibil:${{ needs.docker-push.outputs.image_tag }}"
      chart: helm/gibil
      namespace: gibil
      release_name: gibil
    secrets: inherit