name: Deploy
on:
  workflow_run:
    workflows: ["Build and push"]
    types:
      - completed
    branches:
      - main

jobs:
  helm-deploy:
    name: Helm Deploy
    needs: [ docker-push ]
    uses: entur/gha-helm/.github/workflows/deploy.yml@v1
    with:
      environment: dev
      image: "gibil:${{ needs.docker-push.outputs.image_tag }}"
      chart: helm/gibil
      namespace: gibil
      release_name: gibil
    secrets: inherit