name: Deploy
on:
  workflow_run:
    workflows: ["Build and push"]
    types:
      - completed
    branches:
      - main

jobs:
  helm-deploy:
    name: Helm Deploy
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: entur/gha-helm/.github/workflows/deploy.yml@v1
    with:
      environment: dev
      image: "gibil:${{ github.event.workflow_run.head_sha }}"
      chart: helm/gibil
      namespace: gibil
      release_name: gibil
    secrets: inherit